<%= form_with(model: user, class: "contents", id: "user_form") do |form| %>
  <div class="flex flex-col items-center justify-center w-2/4 m-auto">
    <label for="dropzone-file" id="image-container" class="flex flex-col rounded-full h-36 w-36 items-center justify-center border-2 border-gray-300 border-dashed cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
      <% if user.image %>
       <%= image_tag (user.image_url), class: "rounded-full h-36 w-36 m-auto", alt: "image description", id: "image-output", data: { controller:"user-selector", action: "click->user-selector#triggerTurboChange" }%>
      <% else %>
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg aria-hidden="true" class="w-5 h-5 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400 text-center"><span class="font-semibold">Click to upload</span> or drag and drop</p>
        </div>
      <% end %>
    </label>
      <%# <%= form.text_field :image, class: input_text_class(user.errors.include?("first_name")), value: "https://robohash.org/hicveldicta.png" %>
      <%= form.file_field :image, class: "hidden", id: "dropzone-file", accept: "image/jpeg, image/png, image/jpg", data: { controller:"user-selector", action: "input->user-selector#triggerTurboChange" } %>
    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div class="text-red-700">
      <div>
        <%= form.label :first_name, "First name", class: input_label_class(user.errors.include?("first_name")) %>
        <%= form.text_field :first_name, class: input_text_class(user.errors.include?("first_name")) %>
        <%= display_error_message(user, "first_name") %>
      </div>
    </div>
    <div>
      <%= form.label :maiden_name, "Maiden name", class: input_label_class(user.errors.include?("maiden_name")) %>
      <%= form.text_field :maiden_name, class: input_text_class(user.errors.include?("maiden_name")) %>
      <%= display_error_message(user, "maiden_name") %>
    </div>
    <div>
      <%= form.label :last_name, "Last name", class: input_label_class(user.errors.include?("last_name")) %>
      <%= form.text_field :last_name, class: input_text_class(user.errors.include?("last_name")) %>
      <%= display_error_message(user, "last_name") %>
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <%= form.label :birth_date, "Birthday", class: input_label_class(user.errors.include?("birth_date")) %>
      <%= form.date_field :birth_date, class: input_text_class(user.errors.include?("birth_date")) %>
      <%= display_error_message(user, "birth_date") %>
    </div>
    <div>
      <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 light:text-white">Gender</label>
      <ul class="<%=radio_button_container_class(user.errors.include?("gender"))%>">
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r light:border-gray-600">
          <div class="flex items-center pl-3">
            <%= form.radio_button :gender, "male", class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 light:focus:ring-blue-600 light:ring-offset-gray-700 light:focus:ring-offset-gray-700 focus:ring-2 light:bg-gray-600 light:border-gray-500" %>
            <%= form.label :gender, "male", class: radio_button_label_class(user.errors.include?("gender")) %>
          </div>
        </li>
        <li class="w-full light:border-gray-600">
          <div class="flex items-center pl-3">
            <%= form.radio_button :gender, "female", class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 light:focus:ring-blue-600 light:ring-offset-gray-700 light:focus:ring-offset-gray-700 focus:ring-2 light:bg-gray-600 light:border-gray-500" %>
            <%= form.label :gender, "female", class: radio_button_label_class(user.errors.include?("gender"))%>
          </div>
        </li>
      </ul>
      <%= display_error_message(user, "gender") %>
    </div>
  </div>
  <div class="grid mb-6 md:grid-cols-1">
    <%= form.label :university, "University", class: input_label_class(user.errors.include?("university")) %>
    <%= form.text_field :university, class: input_text_class(user.errors.include?("university")) %>
    <%= display_error_message(user, "university") %>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <%= form.label :email, "Email address", class: input_label_class(user.errors.include?("email")) %>
      <%= form.email_field :email, class: input_text_class(user.errors.include?("email")) %>
      <%= display_error_message(user, "email") %>
    </div>
    <div>
      <%= form.label :phone, "Phone number", class: input_label_class(user.errors.include?("phone")) %>
      <%= form.telephone_field :phone, class: input_text_class(user.errors.include?("phone")) %>
      <%= display_error_message(user, "phone") %>
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <%= form.label :username, "Username", class: input_label_class(user.errors.include?("username")) %>
      <%= form.text_field :username, class: input_text_class(user.errors.include?("username")) %>
      <%= display_error_message(user, "username") %>
    </div>
    <div>
      <%= form.label :password, "Password", class: input_label_class(user.errors.include?("password")) %>
      <%= form.password_field :password, class: input_text_class(user.errors.include?("password")) %>
      <%= display_error_message(user, "password") %>
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-5">
    <div>
      <%= form.label :height, "Height", class: input_label_class(user.errors.include?("height")) %>
      <%= form.number_field :height, class: input_text_class(user.errors.include?("height")) %>
      <%= display_error_message(user, "height") %>
    </div>
    <div>
      <%= form.label :weight, "Weight", class: input_label_class(user.errors.include?("weight")) %>
      <%= form.number_field :weight, class: input_text_class(user.errors.include?("weight")) %>
      <%= display_error_message(user, "weight") %>
    </div>
    <div>
      <%= form.label :eye_color, "Eye color", class: input_label_class(user.errors.include?("eye_color")) %>
      <%= form.text_field :eye_color, class: input_text_class(user.errors.include?("eye_color")) %>
      <%= display_error_message(user, "eye_color") %>
    </div>
    <div>
      <%= form.label :hair_type, "Hair type", class: input_label_class(user.errors.include?("hair_type")) %>
      <%= form.text_field :hair_type, class: input_text_class(user.errors.include?("hair_type")) %>
      <%= display_error_message(user, "hair_type") %>
    </div>
    <div>
      <%= form.label :hair_color, "Hair color", class: input_label_class(user.errors.include?("hair_color")) %>
      <%= form.text_field :hair_color, class: input_text_class(user.errors.include?("hair_color")) %>
      <%= display_error_message(user, "hair_type") %>
    </div>
  </div>
  <h5>Address Details</h5>
  <%= form.fields_for :address do |address_form| %>
    <div class="grid gap-6 mb-6 md:grid-cols-1">
      <div>
        <%= address_form.label :address, "Address", class: input_label_class(user.errors.include?("address.address")) %>
        <%= address_form.text_field :address, class: input_text_class(user.errors.include?("address.address")) %>
        <%= display_error_message(user, "address.address") %>
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <%= address_form.label :state, "State", class: input_label_class(user.errors.include?("address.state")) %>
        <%= address_form.text_field :state, class: input_text_class(user.errors.include?("address.state")) %>
        <%= display_error_message(user, "address.state") %>
      </div>
      <div>
        <%= address_form.label :city, "City", class: input_label_class(user.errors.include?("address.city")) %>
        <%= address_form.text_field :city, class: input_text_class(user.errors.include?("address.city")) %>
        <%= display_error_message(user, "address.city") %>
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-3">
      <div>
        <%= address_form.label :lat, "Lat", class: input_label_class(user.errors.include?("address.lat")) %>
        <%= address_form.number_field :lat, class: input_text_class(user.errors.include?("address.lat")) %>
        <%= display_error_message(user, "address.lat") %>
      </div>
      <div>
        <%= address_form.label :lng, "Long", class: input_label_class(user.errors.include?("address.lng")) %>
        <%= address_form.number_field :lng, class: input_text_class(user.errors.include?("address.lng")) %>
        <%= display_error_message(user, "address.lng") %>
      </div>
      <div>
        <%= address_form.label :postal_code, "Postal code", class: input_label_class(user.errors.include?("address.postal_code")) %>
        <%= address_form.number_field :postal_code, class: input_text_class(user.errors.include?("address.postal_code")) %>
        <%= display_error_message(user, "address.postal_code") %>
      </div>
    </div>
  <%- end %>
  <h5>Bank Details</h5>
  <%= form.fields_for :bank do |bank_form| %>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <%= bank_form.label :card_number, "Card number", class: input_label_class(user.errors.include?("bank.card_number")) %>
        <%= bank_form.number_field :card_number, class: input_text_class(user.errors.include?("bank.card_number")) %>
        <%= display_error_message(user, "bank.card_number") %>
      </div>
      <div>
        <%= bank_form.label :iban, "Iban", class: input_label_class(user.errors.include?("bank.iban")) %>
        <%= bank_form.text_field :iban, class: input_text_class(user.errors.include?("bank.iban")) %>
        <%= display_error_message(user, "bank.iban") %>
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-5">
      <div class="md:col-span-1">
        <%= bank_form.label :card_expire, "Card Expire", class: input_label_class(user.errors.include?("bank.card_expire")) %>
        <%= bank_form.text_field :card_expire, class: input_text_class(user.errors.include?("bank.card_expire")) %>
        <%= display_error_message(user, "bank.card_expire") %>
      </div>
      <div class="md:col-span-2">
        <%= bank_form.label :card_type, "Card type", class: input_label_class(user.errors.include?("bank.card_type")) %>
        <%= bank_form.text_field :card_type, class: input_text_class(user.errors.include?("bank.card_type")) %>
        <%= display_error_message(user, "bank.card_type") %>
      </div>
      <div class="md:col-span-2">
        <%= bank_form.label :currency, "Currency", class: input_label_class(user.errors.include?("bank.currency")) %>
        <%= bank_form.text_field :currency, class: input_text_class(user.errors.include?("bank.currency")) %>
        <%= display_error_message(user, "bank.currency") %>
      </div>
    </div>
  <%- end %>
  <h5>Company Details</h5>
  <%= form.fields_for :company do |company_form| %>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <%= company_form.label :title, "Title", class: input_label_class(user.errors.include?("company.title")) %>
        <%= company_form.text_field :title, class: input_text_class(user.errors.include?("company.title")) %>
        <%= display_error_message(user, "company.title") %>
      </div>
      <div>
        <%= company_form.label :department, "Department", class: input_label_class(user.errors.include?("company.department")) %>
        <%= company_form.text_field :department, class: input_text_class(user.errors.include?("company.department")) %>
        <%= display_error_message(user, "company.department") %>
      </div>
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-1">
      <div>
        <%= company_form.label :name, "Name", class: input_label_class(user.errors.include?("company.name")) %>
        <%= company_form.text_field :name, class: input_text_class(user.errors.include?("company.name")) %>
        <%= display_error_message(user, "company.name") %>
      </div>
    </div>
  <h5>Company Address Details</h5>
    <%= company_form.fields_for :address do |company_address_form| %>
      <div class="grid gap-6 mb-6 md:grid-cols-1">
        <div>
          <%= company_address_form.label :address, "Address", class: input_label_class(user.errors.include?("company.address.address")) %>
          <%= company_address_form.text_field :address, class: input_text_class(user.errors.include?("company.address.address")) %>
          <%= display_error_message(user, "company.address.address") %>
        </div>
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
          <%= company_address_form.label :state, "State", class: input_label_class(user.errors.include?("company.address.state")) %>
          <%= company_address_form.text_field :state, class: input_text_class(user.errors.include?("company.address.state")) %>
          <%= display_error_message(user, "company.address.state") %>
        </div>
        <div>
          <%= company_address_form.label :city, "City", class: input_label_class(user.errors.include?("company.address.city")) %>
          <%= company_address_form.text_field :city, class: input_text_class(user.errors.include?("company.address.city")) %>
          <%= display_error_message(user, "company.address.city") %>
        </div>
      </div>
      <div class="grid gap-6 mb-6 md:grid-cols-3">
        <div>
          <%= company_address_form.label :lat, "Lat", class: input_label_class(user.errors.include?("company.address.lat")) %>
          <%= company_address_form.number_field :lat, class: input_text_class(user.errors.include?("company.address.lat")) %>
          <%= display_error_message(user, "company.address.lat") %>
        </div>
        <div>
          <%= company_address_form.label :lng, "Long", class: input_label_class(user.errors.include?("company.address.lng")) %>
          <%= company_address_form.number_field :lng, class: input_text_class(user.errors.include?("company.address.lng")) %>
          <%= display_error_message(user, "company.address.lng") %>
        </div>
        <div>
          <%= company_address_form.label :postal_code, "Postal code", class: input_label_class(user.errors.include?("company.address.postal_code")) %>
          <%= company_address_form.number_field :postal_code, class: input_text_class(user.errors.include?("company.address.postal_code")) %>
          <%= display_error_message(user, "company.address.postal_code") %>
        </div>
      </div>
    <%- end %>
  <%- end %>
<% end %>